* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-top: 1rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 430px) {
  #root {
    padding-top: 0;
  }
}
